*::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}
*:-moz-placeholder {
  color: #666;
  opacity: 1;
}
*::-moz-placeholder {
  color: #666;
  opacity: 1;
}
*:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
}

body input:required:valid,
body textarea:required:valid {
}

body {
  font-family: "RobotoRegular", sans-serif;
  font-size: 16px;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.wrapper {
  height: 100%;
  width: 100%;
  min-height: 100%;
  display: table;
  border-collapse: collapse;
}

.logo,
.content {
  display: table-row;
  height: 50%;
}

.brand_logo {
  vertical-align: middle;
  display: table-cell;
  text-align: center;
  text-align: -webkit-center;
  text-align: -moz-center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -40px);
  transform: translate(-50%, -40px);
}

.svg-logo {
  text-align: center;
  vertical-align: middle;
  width: 15%;
  min-width: 200px;
  /*margin-top: 50px;*/
}

.svg-logo .last-slash {
  right: 10px;
}

.brand_logo img {
  max-width: 200px;
}

.welcome {
  /*display: table-cell;*/
  display: none;
  text-align: center;
}

.welcome a:link,
.welcome a:active,
.welcome a:visited {
  color: #000000;
  border-bottom: 1px dashed;
}

.welcome a:hover {
  color: #da2327;
  border-bottom: 0.07em solid;
}

.menu {
  width: 100%;
  min-height: 55px;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  right: 0;
  left: 0;
  /*bottom: 0;*/
  padding: 20px 0px 0px 0px;
  background-color: #da2327;
}

.menu a {
  color: #ffffff;
  display: inline-block;
  max-height: 35px;
}

.links {
  display: inline-block;
}

.link {
  display: inline-block;
  padding: 5px;
  border: 1px solid #da2327;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.link:hover {
  border: 1px solid #fff;
  border-radius: 3px;
  transform: translate(0px, -1px);
  -webkit-box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.75);
}

.link-text {
  display: inline;
}

.link-text i {
  width: 25px;
  height: 19px;
  line-height: 1;
}

.link-text i.fa-envelope {
  margin-left: -1px;
}
