*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
}

html, 
body {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}
 
.wrapper {
    height: 100%;
    width: 100%;
    min-height: 100%;
    display: table;
    border-collapse: collapse;
}

.logo,
.content {
	display: table-row;
}

.brand_logo {
	display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.brand_logo img {
	max-width: 200px;
}

.menu {
	display: table-cell;
	text-align: center;
	vertical-align: top;
}

	.menu .links {
		padding-left: 0px;
	}

	.menu .links li {
		display: inline;
		padding: 5px;
	}

.menu a {
	color: #888;
}

	.menu a:hover {
		color: #DA2327;
	}