@media screen and (max-width: 1170px) {

    .horizontal-menu-list {
        display: none;
    }
    
    .menu-bar {
        display: inline-block;
    }

    .menu-bar .contacts-list {
        display: none;
    }
}

@media all and (max-width: 1800px) {
    ul.menu-section li.menu-link {
        padding-left: 10%;
    }
}

@media all and (max-width: 1050px) {
    ul.menu-section li.menu-link {
        padding-left: 5px;
    }

    ul.menu-section li.menu-link.active,
    ul.menu-section li.menu-link:hover {
        background: none;
    }

    ul.menu-section li.menu-link.active a,
    ul.menu-section li.menu-link:hover a {
        color: #003851;
        border-bottom: 1px solid;
    }

    ul.menu-section li.menu-link.main-link.active a,
    ul.menu-section li.menu-link.main-link:hover a {
        color: #000;
    }
}

@media all and (max-width: 790px) {
    header {
        width: 100%;
        background: none;
        padding: 0px;
        position: fixed;
        top: 0;
        z-index: 40000;
    }

        .switch-lang {
            background-color: #4c4c4c;
            height: 40px;
        }
        
        .weather-widget,
        .menu-type-organizations,
        .left-block {
            display: none;
        }

        .main-logo img {
            width: 100px;
        }

        .menu-bar {
            margin: 0px;
        }

        .menu-bar .submenu-block-wrap {
            background-color: #003851;
        }

            .menu-bar .submenu-block-wrap a {
                color: #fff;
            }

            .menu-bar .menu-inner-page {
                border-bottom: 1px solid #fff;
                display: block;
            }

        .contacts-block {
            margin-right: 5px;
        }

    .content {
        margin-top: 220px;
    }

        .central-block {
            width: 80%;
            padding: 0px 70px 0px 15px;
        }

        .news-preview {
            width: 90%;
        }
}

@media all and (max-width: 468px) {
    .contacts-block: none;
}

@media all and (max-width: 418px) {
    .main-logo {
        display: none;
    }

    .contacts-block {
        display: block;
        margin-right: 0px;
    }

    .menu-bar .submenu-col {
        margin: 0px;
    }
    .menu-bar .contacts-list {
        display: block;
        color: #fff;
        border-top: 1px solid;
    }

        .menu-bar .contacts-list {
            display: none;
        }
        
    .menu-bar .contacts-list li {
        padding: 0px 5px;
    }

    .content {
        margin-top: 110px
    }

        .content .central-block {
            width: 100%;
        }

        .content .right-block {
            width: 100%;
            padding: 0px 15px;
            margin-top: 40px;
        }

            .content .right-block .block-title {
                margin-bottom: 20px;
            }
                .news-preview {
                    width: 100%;
                }

}

@media all and (max-width: 340px) {
    .contacts-block {
        display: none;
    }

    .menu-bar .contacts-list {
        display: block;
    }
}