*::-webkit-input-placeholder {
    color: #666;
    opacity: 1;
}
*:-moz-placeholder {
    color: #666;
    opacity: 1;
}
*::-moz-placeholder {
    color: #666;
    opacity: 1;
}
*:-ms-input-placeholder {
    color: #666;
    opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
    
}
body input:required:valid,
body textarea:required:valid {
    
}
body {
    font-family: "RobotoRegular", sans-serif;
    font-size: 16px;
}

.header_topline {
    padding: 10px 0px;
    background-color: #fee133;
}

.head_brand {
    color: #000;
    text-transform: uppercase;
    font-size: 18px;
    text-align: left;
    float: left;
}

.top_info {
    display: inline;
}

.date_menu {
    border-bottom: 1px solid #eee;
    margin-top: -2px;
}

.days ul {
    padding-left: 0px;
}

.days ul li {
    display: inline;
    padding: 15px 10px;
}

.days ul li.selected {
    color: red;
    border-bottom: 2px solid red;
}

.days ul li:hover {
    border-bottom: 2px solid;
    background-color: #eee;
}

.channel_block {
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-top: 20px;
}

.channel_head {
    padding: 5px 10px;
    border-bottom: 1px solid #eee;
    font-family: "RobotoMedium";
}

.channel_head:hover {
    text-decoration: underline;
}

.list_of_shows ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.tv_show {
    padding: 5px 10px;
    font-size: 14px;
}

.tv_show:hover {
    background-color: #eee;
    text-decoration: underline;
}